.user-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 100;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0;
    font-size: 25px;

    img {
        width: 30%;
        height: 30%;
    }
}