@if (user) {
<div class="user-card-wrapper">
    <div class="edit">
        <a class="edit" [routerLink]="['/users/edit', user.id]" >Edit</a>
        <img [src]="user.image" alt="{{ user.fullname }}" />
    </div>

    <h3>{{ user.fullname }}</h3>
    <p>Email: {{ user.email }}</p>
    <p>Job: {{ user.job }}</p>
    <p>Salary: {{ user.salary }}</p>
    <p>Bio: {{ user.bio }}</p>
    <div>
        <ul>
            <li *ngFor="let skill of user.skills">{{ skill }}</li>
        </ul>
    </div>
</div>
} @else {
    <div>
        <p>User not found.</p>
    </div>
}

<router-outlet></router-outlet>
